In [106]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
import os

### Simple Linear Regression
Programming Exercise

In [82]:
bmi_life_data = pd.read_csv('datasets/life_expectancy.csv')
bmi_life_data.head(3)

  Country,Life expectancy,BMI
0   Afghanistan,52.8,20.62058
1       Albania,76.8,26.44657
2       Algeria,75.5,24.59620

In [83]:
# let's split into 3 distinct columns
country, life, bmi = [], [], []

for ind, row in bmi_life_data.iterrows():
    strr = row[0].split(',')
    tmp=''
    if len(strr) > 3:
        for i in range(len(strr)-2):
            tmp+=strr[i]
    if tmp:
        country.append(tmp)
    else:
        country.append(strr[0])
    life.append(strr[-2])
    bmi.append(strr[-1])

In [84]:
# let's add the split columns to the dataframe
bmi_life_data['country'] = country
bmi_life_data['life_exp'] = life
bmi_life_data['bmi'] = bmi

In [85]:
# Let's drop the first redundant col
bmi_life_data = bmi_life_data.iloc[:,1:]
# let's see
bmi_life_data.head()

       country life_exp       bmi
0  Afghanistan     52.8  20.62058
1      Albania     76.8  26.44657
2      Algeria     75.5  24.59620
3      Andorra     84.6  27.63048
4       Angola     56.7  22.25083

In [86]:
# Let's select the columns we need
bmi_life_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 3 columns):
country     163 non-null object
life_exp    163 non-null object
bmi         163 non-null object
dtypes: object(3)
memory usage: 3.9+ KB

In [87]:
# Let's change life_exp and bmi columns to float
bmi_life_data = bmi_life_data.astype({'life_exp':float, 'bmi': float})

In [88]:
bmi_life_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 3 columns):
country     163 non-null object
life_exp    163 non-null float64
bmi         163 non-null float64
dtypes: float64(2), object(1)
memory usage: 3.9+ KB

In [89]:
print(bmi_life_data.shape)
bmi_life_data.head()

(163, 3)

       country  life_exp       bmi
0  Afghanistan      52.8  20.62058
1      Albania      76.8  26.44657
2      Algeria      75.5  24.59620
3      Andorra      84.6  27.63048
4       Angola      56.7  22.25083

In [98]:
X = bmi_life_data['bmi'].values.reshape(-1,1)
y = bmi_life_data['life_exp'].values

In [99]:
# Initialize the model
model = LinearRegression()

In [100]:
# Fit the model to the data
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [101]:
laos_life_exp = model.predict([[21.07931]])
laos_life_exp

array([60.31564716])

### Multiple Linear Regression
Programming Quiz:

In [113]:
# Let's change to the dataset directory to download the boston housing dataset
os.chdir('datasets')

In [114]:
# let's print to confirm
os.getcwd()

'C:\\Users\\sisok\\PycharmProjects\\udacity_intro_to_ml_wt_tensorflow\\datasets'

In [115]:
# Now let's read in the data set
!rm housing_data.csv
! curl https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data -o housing_data.csv

rm: cannot remove 'housing_data.csv': No such file or directory
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
100 49082  100 49082    0     0  23428      0  0:00:02  0:00:02 --:--:-- 23439

In [116]:
# let's see the dir
os.listdir()

['.ipynb_checkpoints', 'data.csv', 'housing_data.csv', 'life_expectancy.csv']

In [117]:
# let's return to home directory
os.chdir('..')
# let's print to confirm
os.getcwd()

'C:\\Users\\sisok\\PycharmProjects\\udacity_intro_to_ml_wt_tensorflow'

We can also load the boston housing dataset directly from sklearn

In [118]:
from sklearn.datasets import load_boston

In [121]:
# Load the data from the boston house-prices dataset 
boston_data = load_boston()
# Let's see the keys
boston_data.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [122]:
X = boston_data['data']
y = boston_data['target']

In [123]:
print(X.shape)
print(y.shape)

(506, 13)
(506,)

In [125]:
print(type(X))
print(type(y))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [126]:
# let's initialize and fit the model
model = LinearRegression()
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [127]:
sample_house = [[2.29690000e-01, 0.00000000e+00, 1.05900000e+01, 0.00000000e+00, 4.89000000e-01,
                6.32600000e+00, 5.25000000e+01, 4.35490000e+00, 4.00000000e+00, 2.77000000e+02,
                1.86000000e+01, 3.94870000e+02, 1.09700000e+01]]

In [129]:
# make a prediction for the sample house
model.predict(sample_house)

array([23.68284712])